@media (max-width:1250px) {

    .wrap {
        width: 90%;
    }

    #card {
        width: 17%;
        margin: 1.5%;
    }

    #articles {
        width: 65%;
    }

    #sidebar {
        margin-right: 1%;
    }

    #footer {
        min-height: 550px;
        height: auto;
    }

    #footer .wrap>div {
        width: 29%;
        margin-right: 3%;
        margin-left: 1%;
    }

    #footer #info #img_develop {
        width: 80%;
        margin-left: 15%;
    }

    #footer #browsers a img {
        width: 14%;
        margin: 10% auto;
    }

    #login input[type="reset"] {
        display: none;
    }

    #login input[type="submit"] {
        float: none;
        width: 50%;
        margin: 10% auto;
    }
}


@media (max-width:1105px) {
    #articles {
        width: 60%;
    }

    #banner h1 {
        font-size: 24px;
    }

    #banner:hover h1 {
        font-size: 26px;
    }
}


@media (max-width:906px) {
    #sidebar {
        width: 30%;
    }

    #login input[type="email"],
    #login input[type="password"]{
        width: 66%;
    }

    #sidebar input[type="text"]{
        width: 78%;
    }
}

@media (max-width:812px){

    #card {
        height: auto;
    }

    #card .category{
        font-size: 16px;
    }

    #card .description{
        display: none;
    }

    #footer h5{
        font-size: 20px;
    }

    #login input[type="email"],
    #login input[type="password"]{
        width: 60%;
    }
}

@media (max-width:680px){
    #banner h1 {
        font-size: 20px;
    }

    #sidebar h3{
        font-size: 20px;
    }
}

/*Resposive para pantallas pequeñas/moviles*/

@media (max-width:641px){
    #header{
        padding-top:10px;
        height: 340px;
    }

    #buttonOne{
        margin: auto;
        float: none;
    }

    #menu{
        float: none;
        width: 100%;
    }

    #menu ul li{
        width: 100%;
        margin: 0px;
    }

    #card .category {
        font-size: 10px;
    }

    #card .icons{
        font-size: 30px;
    }

    #sidebar{
        width: 90%;
        float: none;
        margin: auto;
        margin-top: 5%;
    }

    #login input[type="email"],
    #login input[type="password"]{
        width: 75%;
    }

    #sidebar input[type="text"]{
        width: 85%;
    }

    #login input[type="submit"] {
        margin: 5% auto;
    }

    #login .register{
        margin-bottom: 10px;
    }

    #login a{
        display: block;
        float: none;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-left: unset;
        margin-top: -4px;
    }

    .sidebar-box{
        height: auto;
        padding-bottom: 20px;
    }

    #articles{
        width: 90%;
        float: none;
        margin: auto;
        margin-top: 35px;
    }

    #articles .data{
        width: 100%;
        border-radius: unset;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    #articles .data span{
        margin-left: 5px;
        margin-right: -5px;
    }

    #articles h4 a{
        font-size: 20px;
    }

    #footer {
        padding-top: 10px;
        min-height: 1087px;
        height: auto;
    }

    #footer h5{
        padding-top: 10px;
        height: 33px;
        line-height: 29px;
    }

    #footer .wrap > div{
        width: 70%;
        margin: auto;
        float: none;
    }
}